h1{
    text-align: center;
    color: brown;
    background-color: antiquewhite;
}
nav{
    text-align: center;
}
nav a{
    padding-left: 5px;
    margin: auto;
    text-decoration: none;
    color: black;
    font-weight: 700;

}